.footer {
  background: #f0f2f5;
  padding: 16px;
}

.contactus {
  margin: 8px auto;
  text-align: center;
}

.contactusLink {
  color: #303133;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
}

.copyright {
  margin: 8px auto;
  text-align: center;
  color: #303133;
  font-size: 0.8em;
}
